#gamepads .controller {
  position: absolute;
  background-image: none;
  background-color: rgba(20, 20, 20, 0.2);
  top: 0px;
  left: 0px;
  width: 1260px;
  height: 550px;
}
#gamepads .controller .abxy {
  width: 1260px;
  height: 550px;
}
#gamepads .controller .abxy .button {
  position: absolute;
  background-image: none;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 50px;
  border: #ffffff 2px solid;
  border-radius: 0%;
}
#gamepads .controller .abxy .button.pressed {
  margin-top: 0;
}
#gamepads .controller .abxy .button.a {
  display: none;
}
#gamepads .controller .abxy .button.b {
  left: 328px;
  top: 250px;
  border-color: #EEEEEE;
}
#gamepads .controller .abxy .button.b.pressed {
  background-color: #EEEEEE;
}
#gamepads .controller .abxy .button.x {
  left: 254px;
  top: 250px;
  border-color: #EEEEEE;
}
#gamepads .controller .abxy .button.x.pressed {
  background-color: #EEEEEE;
}
#gamepads .controller .abxy .button.y {
  left: 180px;
  top: 250px;
  border-color: #EEEEEE;
}
#gamepads .controller .abxy .button.y.pressed {
  background-color: #EEEEEE;
}
#gamepads .controller .bumpers {
  position: absolute;
  width: 1260px;
  height: 550px;
  top: 192px;
  left: -1px;
}
#gamepads .controller .bumpers .bumper {
  position: absolute;
  width: 50px;
  height: 80px;
  border: #ffffff 2px solid;
  border-radius: 0%;
  background-image: none;
}
#gamepads .controller .bumpers .bumper.left {
  opacity: 1;
  position: absolute;
  left: 853px;
  top: 145px;
  border-color: #7CC2EF;
}
#gamepads .controller .bumpers .bumper.left.pressed {
  background-color: #7CC2EF;
}
#gamepads .controller .bumpers .bumper.right {
  display: none;
}
#gamepads .controller .triggers {
  position: absolute;
  width: 1260px;
  height: 550px;
  top: 192px;
  left: 0px;
}
#gamepads .controller .triggers .trigger {
  background-image: none;
}
#gamepads .controller .triggers .trigger-button {
  position: absolute;
  width: 50px;
  height: 80px;
  top: 145px;
  left: 230px;
  border: #ffffff 2px solid;
  border-radius: 0%;
}
#gamepads .controller .triggers .trigger-button.pressed {
  margin-top: 0;
}
#gamepads .controller .triggers .trigger-button.left {
  position: absolute;
  left: 705px;
  top: 145px;
  border-color: #7CC2EF;
}
#gamepads .controller .triggers .trigger-button.left.pressed {
  background-color: #7CC2EF;
}
#gamepads .controller .triggers .trigger-button.right {
  position: absolute;
  left: 779px;
  top: 145px;
  border-color: #7CC2EF;
}
#gamepads .controller .triggers .trigger-button.right.pressed {
  background-color: #7CC2EF;
}
#gamepads .controller .dpad {
  position: absolute;
  width: 1260px;
  height: 550px;
  top: 192px;
  left: 207px;
}
#gamepads .controller .dpad .face {
  position: absolute;
  width: 50px;
  height: 80px;
  border: #ffffff 2px solid;
  background-image: none;
}
#gamepads .controller .dpad .face.up {
  opacity: 1;
  position: absolute;
  left: 880px;
  top: 135px;
  height: 200px;
  width: 100px;
  border-color: #EEEEEE;
  border-radius: 0% 100% 100% 0%/50% 50% 50% 50%;
}
#gamepads .controller .dpad .face.up.pressed {
  background-color: #EA5352;
}
#gamepads .controller .dpad .face.down {
  opacity: 1;
  position: absolute;
  left: 780px;
  top: 135px;
  height: 200px;
  width: 100px;
  border-color: #EEEEEE;
  border-radius: 100% 0% 0% 100%/50% 50% 50% 50%;
}
#gamepads .controller .dpad .face.down.pressed {
  background-color: #EA5352;
}
#gamepads .controller .dpad .face.left {
  opacity: 1;
  position: absolute;
  left: 685px;
  top: 250px;
  border-color: #EEEEEE;
}
#gamepads .controller .dpad .face.left.pressed {
  background-color: #EEEEEE;
}
#gamepads .controller .dpad .face.right {
  display: none;
}
#gamepads .controller .arrows {
  width: 1260px;
  height: 550px;
}
#gamepads .controller .arrows .back {
  opacity: 1;
  position: absolute;
  width: 30px;
  height: 30px;
  border: #ffffff 2px solid;
  border-radius: 50%;
  background-image: none;
  top: 70px;
  left: 353px;
}
#gamepads .controller .arrows .back.pressed {
  background-color: #7CC2EF;
}
#gamepads .controller .arrows .start {
  opacity: 1;
  position: absolute;
  width: 30px;
  height: 30px;
  border: #ffffff 2px solid;
  border-radius: 50%;
  background-image: none;
  top: 120px;
  left: 353px;
}
#gamepads .controller .arrows .start.pressed {
  background-color: #7CC2EF;
}
#gamepads .controller .touchpad, #gamepads .controller .quadrant, #gamepads .controller .sticks, #gamepads .controller .wheels, #gamepads .controller .fstick, #gamepads .controller .template {
  display: none;
}